SCHEMA=SIGMA_MULTI_TEACHER_WEIGHT_CANDIDATE_R1
SOURCE_SESSION_CODE=FILL_FROM_sigma-session_status
SOURCE_RUN_ID=FILL_FROM_sigma-session_status
PARENT_HEAD=FILL_FROM_OPEN_HEAD
PARENT_MODEL_GENERATION=FILL_FROM_OPEN_MODEL_GENERATION
TEACHING_EVIDENCE_PATH=/absolute/path/under/current/ARTIFACT_ROOT/teaching.evidence
TEACHING_EVIDENCE_SHA256=FILL_SHA256
CANONICAL_REPLAY_ENTRYPOINT=/absolute/path/under/current/ARTIFACT_ROOT/replay_entrypoint.sh
CANONICAL_REPLAY_ENTRYPOINT_SHA256=FILL_SHA256
NATIVE_OWNERSHIP_RECEIPT=/absolute/path/under/current/ARTIFACT_ROOT/native_ownership.receipt
NATIVE_OWNERSHIP_RECEIPT_SHA256=FILL_SHA256
CANONICAL_MUTATION_REQUEST=QUEUE_FOR_NATIVE_REEVALUATION
HOST_COGNITION=NO
HOST_LEARNING=NO
SIGMA_NATIVE_LEARNING_OWNER=YES
